body{
  width: 80%;
  margin: auto;
}

h1, h2{
  color: #17a589;             /*vert principal*/
  font-style: oblique;
  font-family: "Bradley Hand";
}

ul{
  display: flex;
  list-style-type: none;
}
li{
  margin-right: 15px;
}
fieldset{
  border: 0;
}
#mesChamps{
  display: flex;
  flex-direction: column;
  width: 325px;
}

#mesChamps div{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


legend, p{
  font-style: oblique;
  font-size: 1.2em;
  color: blue;
  font-family: "Bradley Hand";
  color: #17a589;
}



.hidden
{
    display: none;
}
table{
  margin:auto;
  text-align: center;
  font-size: 17px;
  width: 100%;
  height: 300px;
  margin-top: 50px;
}

table th{
  font-size: 20px;
  color: white;
  background-color:#17a589;
  height: 50px;

}


table td{
  border-bottom: 1px solid #696969;

}
