body{
  width: 90%;
  margin: auto;
}

fieldset{
  display: flex;
  flex-direction: column;
}

div{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

}

#valider{
  width: 150px;
}

input[type="date"]{
  width: 160px;
}


#imageAvatar{
  display: flex;
  flex-wrap: wrap;
}
