body{
  width: 80%;
  margin: auto;
}

#ulMenuNav
{
  display: flex;
  list-style-type: none;
  margin: auto;

}
#ulMenuNav li{
  border: 1px solid #626262;
  border-radius: 5px;

  color:#626262
}
#ulMenuNav a
{
  padding: 10px;
  display: block;
  background-color: orange;
 text-decoration: none;
}

#ulMenuNav a:hover{
  color: white;
  background: #626262;
}


.recherche{
  background-color:  #d2b4de ;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 200px;
}
body form{
  margin :auto;
}
form div{
  margin: 10px;
}

form h2{
  font-size: 15px;
}

.recherche select{
  height: 30px;
}

.recherche input{
  height: 30px;
}

form div:last-child{
  margin-left: 50px;
}

#zoneConnexion{
  display: flex;
  justify-content: space-around;
}
#zoneConnexion img{
  width: 25%;
  height: 40%;
}

#zoneConnexion form div{
  display: flex;
  justify-content: space-between;
}

#zoneConnexion h1{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 40px;
  color: #17a589;
  font-style: oblique;
  font-family: "Bradley Hand";

}
#zoneConnexion form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



#zoneDeconnexion{
  display: flex;
  justify-content: space-around;
}
#zoneDeconnexion img{
  width: 25%;
  height: 40%;
}

#zoneDeconnexion form div{
  display: flex;
  justify-content: space-between;
}

#zoneDeconnexion h1{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 40px;
  color: #17a589;
  font-style: oblique;
  font-family: "Bradley Hand";
}
