body{
  width: 90%;
  margin: auto;
}


/* ------------ entete General -------------------*/


.enteteLogo{
  display: flex;
}


.enteteLogo a img{
  width: 250px;
}

.enteteLogo h1{
  margin-top: 100px;
  margin-left: 20px;
  font-size: 45px;
  color: #17a589;             /*vert principal*/
  font-style: oblique;
  font-family: "Bradley Hand";

}



/* ------------ banniereRecherche -------------------*/


.recherche{
  background-color:  #d2b4de ;    /*violet principal*/
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
}

/* body form{
margin :auto;
} */

.recherche div{
  margin: 20px;
}

#formRecherche div{
  margin-top: 10px;
}

#formRecherche h2{
  font-size: 25px;
  color:#696969;
  font-family: sans-serif;
}

.recherche select{
  height: 60px;
  font-size: 20px;
}

.recherche input{
  font-size: 20px;
  height: 60px;
}


.recherche div:last-child{
  margin-left: 50px;
  position: relative;
  padding-top: 90px;
}




/* ------------ zonUtilisateurOff -------------------*/

#zoneConnexion{
  display: flex;
  justify-content: space-between;
}

#conexionInscription{
  display: flex;
  justify-content: center;
}

.connexion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.connexion input{
  margin-bottom: 10px;
}

.boutonsLogin{
  width: 150px;
  height: 50px;
  border: 1px grey outset;
  background-color: #d2b4de ;
  border-radius: 30px;

  font-weight: bold;
  font-family:"Bradley Hand", sans-serif;
  color: #696969;                      /*gris principal*/
  font-size: 15px;
  text-align: center;
}

.inscription{
  align-self: center;
}

a{
  text-decoration: none;
}

#inscrivezVous div{
  margin-top: 40px;
}

/* ------------ zonUtilisateurOn -------------------*/


#zoneDeconnexion{
  display: flex;
  justify-content: space-between;
}


#messageBienvenue{
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  font-family: "Optima", sans-serif;
  font-weight: bold;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#messageBienvenue p{
  margin: 0px 5px 0px 5px;
}

#messageBienvenue a{
  margin: 5px 0px 15px 0px;
}




/* ------------ ulMenuNav -------------------*/


#ulMenuNav{
  display: flex;
  list-style-type: none;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
#ulMenuNav li{
  border: 1px solid #626262;
  border-radius: 5px;
  width: 25%;
}
#ulMenuNav a
{
  padding: 10px;
  display: block;
  background-color: #17a589;
  text-decoration: none;
  color: #C0C0C0;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

#ulMenuNav a:hover{
  color: white;
  background: #626262;
}



/* ------------ zoneAffichageTrajet -------------------*/

#tableauResultatRecherche{
  margin:auto;
  text-align: center;
  font-size: 17px;
  width: 100%;
  height: 300px;
  margin-top: 50px;
}

#tableauResultatRecherche th{
  font-size: 20px;
  color: white;
  background-color:#17a589;
  height: 50px;

}


#tableauResultatRecherche td{
  border-bottom: 1px solid #696969;

}




/* ----------------------- compte vue ------------------------*/

#infosCompte{
  display: flex;
  flex-direction: column;
}

#infosCompte fieldset{
  margin: auto;
  justify-content: center;
  width: 60%;
  display: flex;
  flex-direction: column;
  border: 2px solid #d2b4de;
  border-radius: 10px;
}


#infosCompte legend{
  font-size: 30px;
  color: #d2b4de;
}

#infosCompte div{
  display: flex;
  justify-content:flex-start;
  margin-bottom: 10px;

}

#valider{
  width: 150px;
}

#infosCompte label,p{
  color: gray;
}

#infosCompte input{
  margin-right: 20px;
}

#infosCompte input[type="date"]{
  width: 173px;
}


#infosCompte input[type="radio"]{
  width: 100px;
  height: 100px;
  position: relative;
  right: 5px;
  bottom:4px;
}

.info p:first-child{

  font-weight:bold;
  color: black;
  margin-right: 5px;
}

#RetourMain{
  align-self: center;
  margin-top:20px;
}

#RetourMain .boutonsLogin{
  justify-content: center;
}

/* ----------------------- New Trajet ------------------------*/


#newTrajetStyle{
  display: flex;
  flex-direction: column;
  margin-top:20px;
}

#newTrajetStyle fieldset{
  margin: auto;
  justify-content: center;
  width: 60%;
  display: flex;
  flex-direction: column;
  border: 2px solid #d2b4de;
  border-radius: 10px;
}


#newTrajetStyle legend{
  font-size: 30px;
  color: #d2b4de;

}

#newTrajetStyle div{
  display: flex;
  justify-content:center;
  margin-top: 10px;

}


#newTrajetStyle label{
  color: gray;
}



#newTrajetStyle input[type="date"]{
  width: 173px;
}



#newTrajetStyle .boutonsLogin{
  margin: auto;
  justify-content: center;

}
